@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

@theme {
    /* primary colors */
    --color-primary: #050000;
    --color-secondary: #F85A5A;
    /* primary fonts */
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body {
    @apply min-h-screen bg-white flex justify-center items-center;
}

#root {
    @apply w-screen h-screen mx-auto p-4;
}